{% extends "schema_main_page.html" %}

{% block title %}Dodaj wydarzenie - Coolturalni.pl {% endblock %}

{% block head_extensions %}
<script src="{{ MEDIA_URL }}js/user_profile/edit_profile.js"></script>
<script>
	$(function() {
		$( "#tabs" ).tabs();
	});
</script>
<link rel="stylesheet" href="{{ MEDIA_URL }}css/user_profile/my_profile.css">
<script type="text/javascript">
$(document).ready(function() {
	/* DODANIE DO ULUBIONYCH */
	$.ajaxSetup({
		  data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
	});

	$('a#remove_friend').click(function(e){
		$.post('{% url zpi_django.friends.views.remove_from_friend target_user.id %}', function(data){
			location.reload();
		});
	});
	$('a#add_friend').click(function(e){
		$.post('{% url zpi_django.friends.views.add_to_friend target_user.id %}', function(data){
			location.reload();
		});
	});
});
</script>
{% endblock %}

{% block container %}
<div id="container">
<div id="center" class="column">
	
<div id="tabs" style='font: 0.8em "Helvetica Neue", Helvetica, Arial, sans-serif;'>
	<ul>
		<li><a href="#tabs-1">Tablica</a></li>
		<li><a href="#tabs-2">Wydarzenia użytkownika</a></li>
		<li><a href="#tabs-3">Znajomi</a></li>
	</ul>
	<div id="tabs-1">
		<p>1 Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
	</div>
	<div id="tabs-2">
		<h2>Wydarzenia utworzone przez użytkownika</h2><hr class="divide"/>
		<ul class="my_events_list">
		{% for my_event in my_events %}
		<li>
			<img src="{{ my_event.miniature.url }}"/>
			<div class="my_event_info">
				<a href="{% url zpi_django.events.views.event_detail my_event.id %}">{{ my_event.name }}</a>
				<div class="date">{{ my_event.start_date|date:"d E Y" }}</div>
				<p>{{ my_event.introduction }}</p>
			</div>
			<div id="footer"></div><hr class="divide" style="margin-bottom:10px;"/>
		</li>
		{% empty %}
			<li>Użytkownik nie jest twórcą żadnego wydarzenia dotychczas.</b></li>
		{% endfor %}
		</ul>
	</div>
	<div id="tabs-3">
		<h2>Znajomi użytkownika  </h2><hr class="divide"/>
		<ul class="my_friends_list">
		{% for my_friend in my_friends %}
			<li>
				<table>
				<tr>
					<td style="width:80px">
						{% if my_friend.friend.get_profile.avatar %}
						<img src="{{ my_friend.friend.get_profile.avatar.url }}" />
						{% else %}
							{% if my_friend.friend.get_profile.gender = 'K' %}
								<img src="{{ MEDIA_URL }}images/women_avatar_default.jpg" />
							{% else %}
							<img src="{{ MEDIA_URL }}images/men_avatar_default.jpg" />
							{% endif %}
						{% endif %}
					</td>
					<td style="width:200px"><a class="friend_username" href="{% url zpi_django.friends.views.profile_information my_friend.friend.id %}">{{ my_friend.friend.username }}</a></td>
					<td style="width:120px">{{ my_friend.friend.first_name }}</td>
					<td style="width:120px">{{ my_friend.friend.last_name }}</td>
					<td style="width:120px">{{ my_friend.friend.get_profile.city }}</td>
				</tr>
				</table>
				<hr class="divide" style="margin-bottom:10px;"/>
			</li>
		{% empty %}
			<li>Użytkownik nie oznaczył jeszcze żadnego użytkownika jako swojego znajomego.</b></li>
		{% endfor %}
		</ul>
	</div>
</div>

</div>
<!-- LEFT COLUMN -->
<div id="left" class="column">
	<ul id="sortable" style=" list-style-type: none;margin:0;padding:0;">
		<li>
			<div class="widget" style="padding-bottom:2px;">
				<div style="margin-left:-10px;margin-top:-10px; padding:0;">
					{% if target_user.get_profile.avatar %}
						<img src="{{ target_user.get_profile.avatar.url }}" />
					{% else %}
						{% if target_user.get_profile.gender = 'K' %}
							<img src="{{ MEDIA_URL }}images/women_avatar_default.jpg" />
						{% else %}
							<img src="{{ MEDIA_URL }}images/men_avatar_default.jpg" />
						{% endif %}
					{% endif %}
					<p style="text-align:center; font-size:0.9em; margin:0; padding:0;color:#4f4f4f;">{{ target_user.username }}</p>
				</div>				
			</div>
		</li>
		<li>
			<!-- WIDGET 1 -->
			<div class="widget">
				<div class="widget_title">
					<a href="#">Dane osobowe</a><img class="widget_hide" /><hr/>
				</div>
				<div class="widget_list_item">
					<ul class="surname">
						<li>{{ target_user.first_name}} {{ target_user.last_name }}</li>
						<li>{{ target_user.get_profile.city }}</li>
					</ul>
				</div><hr/>
			</div>
		</li>
		<li>
			<div class="widget">
				<div class="widget_title">
					<a href="#">Propozycje wydarzeń</a><img class="widget_hide" /><hr/>
				</div>
				<div class="widget_list_item">
				</div>				
			</div>
		</li>
	</ul>
</div>
<!-- END LEFT COLUMN -->
<!-- RIGHT COLUMN -->
<div id="right" class="column">
	<ul id="sortable2" style=" list-style-type: none;margin:0;padding:0;">
	<li>
		<!-- WIDGET 1 -->
		<div class="widget">
			<div class="widget_title">
				<a href="#">Opcje</a><img class="widget_hide" /><hr/>
			</div>
			<div class="widget_list_item">
				<ul class="friend_status">
				{% if are_friends = 1 %}
					<li><a style="cursor:pointer;" id="remove_friend">Usuń ze znajomych</a></li>
				{% elif are_friends = 2 %}
					<li><a href="#">Czeka na potwierdzenie</a></li>
				{% elif are_friends = 0 %}
					<li><a style="cursor:pointer;" id="add_friend">Oznacz jako znajomego</a></li>
				{% elif are_friends = -2 %}
					<li><a href="#">Musisz się zalogować</a></li>
				{% elif are_friends = -3 %}
					<li><a href="#">Oglądasz własny profil</a></li>
				{% endif %}
				</ul>
			</div><hr/>
		</div>
	</li>
	<li>
		<!-- WIDGET 2 -->
		<div class="widget">
			<div class="widget_title">
				<a href="#">Statystyki</a><img class="widget_hide" /><hr/>
			</div>
			<div class="widget_list_item">
			</div><hr/>
		</div>
	</li>
	<li>
		<!-- WIDGET 3 -->
		<div class="widget">
			<div class="widget_title">
				<a href="#">Nowi znajomi</a><img class="widget_hide" /><hr/>
			</div>
			<div class="widget_list_item">
			</div><hr/>
		</div>
	</li>
	<li>
	</li>

	</ul>
</div>
</div>
{% endblock %}

