#wizard th{	
	float:left;
	width:140px;
	color: #8E8E8E;
	font-size: 0.8em;
	text-align:left;
}

.error{
	text-align: right;
	
}

.ui-autocomplete{
	width:250px;
	height:auto;
	background-color:#F8F8F7;
	
}


#lat,#lng{
	
display:none;
	
}



#wizard #submit{
display:none;
	
}
.msgBox{
display:none;
}

.loader{
display:none;
	
}


#add_event input[name="name"] {
	width: 95%;
}

#add_event textarea {
	width: 95%;
}

#add_event label, .helptext {
	font-size:0.8em;
	width:200px;
	color: #8E8E8E;
}


hr.divide {
	background-color: #c4c4c4;
	border:0;
	height:1px;
	margin:9px 0 25px 0;
}
.star {
	color: red;
}

h1 {
	font-size:1.5em;
	color: #814385;
}



#wizard ul{
	
	list-style: none;
	position:relative;
	background: none repeat scroll 0 0 transparent;
	
	
}

.stepContainer{
	height:auto !important;
	clear:both;
	padding-bottom:50px;
	display:block;
}

.stepContainer td label{
	font-size:0.8em;
	color:#8E8E8E;
	width:140px;
	
}


.stepContainer td input{
	width:250px;
}

.stepContainer #id_start_date_0,#id_end_date_0{
	width:136px;
}

#wizard .stepContainer #id_start_date_1,#id_start_date_2,#id_end_date_1,#id_end_date_2{
	width:22px;
}
.stepContainer #datatime{
	width:200px;
}
.stepContainer td.label{
	width:145px ;
}


.stepContainer td.inputs{
	color: #8E8E8E;
	width:350px ;
}

.stepContainer td.inputs a{
	color: #176273;
	text-decoration: none;
}

.stepContainer td.inputs label[for=miniature-clear_id]{
	float:left;
	position:relative;
}
.stepContainer td input#miniature-clear_id {
	width:20px;
}

#wizard ul.anchor li a{
	font-size:1em;
	text-decoration: none;
	color:#EFEFEF
}
#wizard ul.anchor li a label{
	padding-bottom:10px;
}
#wizard .stepContainer{
	padding-top:35px;
}

#wizard ul.anchor li a.selected,#wizard ul.anchor li a.selected.error{
	
	display:inline;
	float:left;
	position:relative;
	width:150px;
	height:80px;
	margin:10px;
	background-color: #8B488F;	
	box-shadow: 5px 5px 8px #888888;
	text-align: center;

}
#wizard ul.anchor li a.error{
	border:1px solid red;
}

#wizard ul.anchor li a.disabled,#wizard ul.anchor li a.done{
	
	display:inline;
	float:left;
	position:relative;
	width:150px;
	height:80px;
	margin:10px;
	background-color: #8F7A8B;	
	box-shadow: 5px 5px 8px #888888;
	text-align: center;

}



#wizard .actionBar .buttonNext{
	float:right;
}

#wizard .actionBar .buttonFinish{
	clear:right;
	float:right;
}
#wizard .actionBar .buttonDisabled{
	background-color: #DAD6D6 !important;
}

